Repository writethedocs/www, pull requests merged in 2023-07, with the labels that each got.

#1989 Update Meetup URLs
  docs/_data/meetups/aus.yaml
  docs/_data/meetups/ind-bangalore.yaml
  docs/_data/meetups/isr-herzliya.yaml
  docs/_data/meetups/kenya-nairobi.yaml
  docs/_data/meetups/kor-seoul.yaml
  docs/_data/meetups/ng-portharcourt.yaml
  docs/_data/meetups/qrm-usEast.yaml
  docs/_data/meetups/qrm-usWest.yaml
Labels: Meetups

#1988 Update URLs for Current Meetups: Europe section
  docs/_data/meetups/esp-barcelona.yaml
  docs/_data/meetups/fra-paris.yaml
  docs/_data/meetups/gbr-leedsbradford.yaml
  docs/_data/meetups/gbr-london.yaml
  docs/_data/meetups/ger-berlin.yaml
  docs/_data/meetups/ger-hamburg.yaml
  docs/_data/meetups/ger-karlsruhe.yaml
  docs/_data/meetups/ger-rhineland.yaml
  docs/_data/meetups/hun-budapest.yaml
  docs/_data/meetups/irl-dublin.yaml
  docs/_data/meetups/ned-amsterdam.yaml
  docs/_data/meetups/swe-stockholm.yaml
  docs/_data/meetups/tr-istanbul.yaml
Labels: Meetups

#1932 Update to livestreaming and recording processes
  docs/organizer-guide/meetups/livestreaming-meetups.rst
Labels: Meetups, Meetups Quorum

#1926 Additional guidance on self-promotional materials, with examples
  docs/slack.rst
Labels: enhancement
